@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-family: 'Dela Gothic One', sans-serif;
}

h2,h3 {
  line-height: 42px !important;
}

p {
  font-family: 'Inter', sans-serif;
  line-height: 2rem!important;
}
